body {
  min-height: 2000px;
  padding-top: 70px;
}

p {
  text-align: justify;
}

h1,h2,h3{
  color: #DF691A;
}

h1 {
  border-bottom: 1px solid #DF691A;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.jumbotron {
  text-align: center;
  
}
.jumbotron p{
  text-align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  margin-left: 50px;
  min-width: 200px;
  font-size: 21px;
}

/* Downloads
------------------------------------------------*/

.pricing {
  margin-bottom: 40px;
  border: 1px solid #d4d4d4;*/
  border-width: 1px 1px 4px 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
}

.pricing table {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #c0c2c2;
  font-weight: 400;
}

.pricing thead th {
  background: #333;
  width: 100%;
  padding: 13px 8%;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #f4f4f4;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  float: left;
}

.pricing tfoot td {
  background: #ededed;
  /*width: 84.3%;*/
  width: 100%;
  padding: 20px 8%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
}

.pricing td {
  background: #fff;  
  width: 100%;
  padding: 10px 8%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #d4d4d4;
  float: left;
}

tfoot td {
  text-align: center;
}

.pricing td.focus {
  background: #333;
  width: 100%;
  padding: 25px 8%;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}

.pricing td.focus-best {
  background: #A00;
  width: 100%;
  padding: 25px 8%;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}

.pricing td.focus span {
  font-size: 10px;
  display: block;
  margin-top: 5px;
}

.pricing td.focus-best span {
  font-size: 10px;
  display: block;
}

.pricing td h6 {
  width: 60%;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #c0c2c2;
  font-weight: 400;
  float: left;
}

.pricing td p {
  width: 40%;
  text-align: right;
  float: left;
}





/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}